.walletMainDiv {
  background-color: rgb(81, 200, 120);
  background-image: url('https://img.freepik.com/premium-photo/stock-market-forex-trading-graph-graphic-double-exposure_73426-193.jpg?w=2000');
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: auto;
  padding-bottom: auto;
  padding-top: auto;
}
